c/pythagorean_triples/pyth.exe
c/pythagorean_triples/pyth.out
c/linear_congruential_gen/gen.exe
c/linear_congruential_gen/gen.out
c/xor_shift_gen/xor.exe
c/xor_shift_gen/xor.out
c/fibonacci_twoways/fib.exe
c/fibonacci_twoways/fib.out
c/kaprekars_process/kap.exe
c/kaprekars_process/kap.out
c/naughts_crosses/nac.exe
c/naughts_crosses/nac.out

go/pythagorean_triples/pyth.exe
go/pythagorean_triples/pyth.out
go/linear_congruential_gen/gen.exe
go/linear_congruential_gen/gen.out
go/xor_shift_gen/xor.exe
go/xor_shift_gen/xor.out
go/fibonacci_twoways/fib.exe
go/fibonacci_twoways/fib.out
go/kaprekars_process/kap.exe
go/kaprekars_process/kap.out
go/naughts_crosses/nac.exe
go/naughts_crosses/nac.out

java/linear_congruential_gen/gen.class
java/linear_congruential_gen/gen.out
java/pythagorean_triples/pyth.class
java/pythagorean_triples/pyth$triple.class
java/pythagorean_triples/pyth.out
java/xor_shift_gen/xor.class
java/xor_shift_gen/xor.out
java/fibonacci_twoways/fib.class
java/fibonacci_twoways/fib.out
java/kaprekars_process/kap.class
java/kaprekars_process/kap.out
java/naughts_crosses/nac.class
java/naughts_crosses/nac.out


python/linear_congruential_gen/gen.out
python/pythagorean_triples/pyth.out
python/xor_shift_gen/xor.out
python/fibonacci_twoways/fib.out
python/kaprekars_process/kap.out
python/naughts_crosses/nac.out