c/pythagorean_triples/pyth.exe
c/pythagorean_triples/pyth.out

go/pythagorean_triples/pyth.exe
go/pythagorean_triples/pyth.out

java/linear_congruential_gen/gen.class
java/linear_congruential_gen/gen.out

python/pythagorean_triples/pyth.out

